$colors: (
  common: ("white": #fff,
    "black": #171717,
  ),
  body: (
    "text": #b4b4b4,
    "grey": #777777,
    "heading": #ffffff,
    "text2": #313131,
    "text3": #6e777d,
    "text4": #adadad,
  ),
  bg: (
    "1": #f7f7f7,
    "2": #eee,
  ),
  border: (
    "1": #d9d9d9,
    "2": #414141,
    "3": #3a3a3a,
    "4": #707070,
    "5": #c2c2c2,
    "6": #e5e5e5,
  ),
  theme: ("1": #fd6500,
    "2": #121212,
  ),
);