// Font Family

$montserratsans: "Montserrat", sans-serif;
$pristina: "Pristina", sans-serif;
$autography: "Autography", sans-serif;


@font-face {
  font-family: Autography;
  src: url("../../fonts/Autography.otf");
}