/*#############################
##############################
16. Footer CSS
##############################
#############################*/

@use "../abstract" as *;

.widget-list {
  ul {
    li {
      list-style: none;
      font-size: 16px;

      a {
        &:hover {
          color: var(--clr-common-white);
        }
      }

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}

.copyright-border-top {
  border-top: 1px solid #242424;
}

.fm-copyright-text {
  font-size: 16px;
  line-height: 24px;

  a {
    color: #fff;
  }
}

.fm-copyright-input {
  input {
    width: 100%;
    border: 1px solid #2a2a2a;
    background-color: transparent;
    color: var(--clr-common-white);
    height: 50px;
    padding: 0 25px;
    line-height: 50px;
    padding-right: 60px;
    outline: 0;

    &::placeholder {
      color: #535353;
      opacity: 1;
      font-size: 15px;
    }
  }
}

.fm-copyright-address {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: flex-end;

  @media #{$md,$sm,$xs} {
    justify-content: flex-start;
  }

  @media #{$sm,$xs} {
    margin-bottom: 10px;
  }
}

.copyright-padding {
  padding: 30px 0;
}

.fm-copyright-form {
  position: relative;

  button[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 60px;
    font-size: 18px;
    font-weight: 300;
    color: #464646;

    &:hover {
      color: #fff;
    }
  }
}

.fm-copyright-input-wrapper.pl-70.pr-70 {
  @media #{$lg, $md} {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
  }

  @media #{$sm,$xs} {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
  }
}

.body-color {
  color: #777777;
}

.footer-1 {
  .fw-1 {
    margin-left: 0px;

    @media #{$md,$sm,$xs} {
      margin-left: 0;
    }
  }

  .fw-2 {
    margin-left: 120px;

    @media #{$xl} {
      margin-left: 100px;
    }

    @media #{$lg} {
      margin-left: 60px;
    }

    @media #{$md,$sm,$xs} {
      margin-left: 0;
    }
  }

  .fw-3 {
    margin-left: 150px;

    @media #{$xl} {
      margin-left: 100px;
    }

    @media #{$lg} {
      margin-left: 60px;
    }

    @media #{$md,$sm,$xs} {
      margin-left: 0;
    }
  }

  .fw-4 {
    margin-left: 170px;

    @media #{$xl} {
      margin-left: 90px;
    }

    @media #{$lg} {
      margin-left: 50px;
    }

    @media #{$md,$sm,$xs} {
      margin-left: 0;
    }
  }
}

// new-footer-style-added
.footer-area {
  position: relative;
  z-index: 1;
}

// bg
.footer-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &::before {
    content: "";
    position: absolute;
    background: var(--clr-common-black);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
  }
}

// footer-top-area



.footer-top {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mark-text {
  color: var(--clr-theme-1);
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(1);
    transform-origin: center;
    transform-style: preserve-3d;
    transition: all 0.4s cubic-bezier(0.62, 0.21, 0.45, 1.22);
    background: var(--clr-theme-1);
  }

  &:hover {
    color: var(--clr-theme-1);

    &:before {
      transform: scaleX(0);
    }
  }
}

.footer-contact-text {
  max-width: 960px;
  margin: 0 auto;

  .footer-contact-title {
    line-height: 1.3;
  }
}

// footer-bottom
.footer-bottom-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid var(--clr-border-2);

  @media #{$sm,$xs} {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.footer-logo-wrapper {
  margin: 80px 0;

  @media #{$md} {
    margin: 50px 0;
  }

  @media #{$sm,$xs} {
    margin: 40px 0;
  }
}

.footer-social {
  a {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    background: transparent;
    display: inline-flex;
    margin-inline-end: 8px;
    border: 1px solid var(--clr-border-3);
    color: var(--clr-common-white);
    position: relative;

    &:last-child {
      margin-inline-end: 0;
    }

    &:hover {
      background: var(--clr-theme-1);
      border: transparent;
    }
  }
}

.footer-copyright {
  p {
    margin: 0;

  }

  &:hover {
    a {
      color: var(--clr-theme-1);
    }
  }
}

.footer-bottom-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 50px;
  @media #{$sm,$xs} {
    justify-content: center;
  }

}

.footer-rules {
  display: flex;
  align-items: center;
  gap: 34px;

  a {
    margin: 0;
    position: relative;

    &:hover {
      color: var(--clr-theme-1);
    }

    &:not(:last-child):after {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      background: #ffffff20;
      right: -18px;
    }
  }
}

// home-2
.footer-bg-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;

  @media #{$md,$sm,$xs} {
    background-size: cover;
  }
}

.footer-social-2 {
  a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    background: transparent;
    display: inline-flex;
    margin-inline-end: 10px;
    color: var(--clr-common-white);
    position: relative;
    border: 1px solid var(--clr-border-4);

    &:last-child {
      margin-inline-end: 0;
    }

    &:hover {
      color: var(--clr-common-white);
      background: var(--clr-theme-1);
      border-color: transparent;
    }

    @media #{$xxs} {
      width: 50px;
      height: 50px;
      font-size: 20px;
    }
  }
}

.footer-widget-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;

  @media #{$md,$sm,$xs} {
    justify-content: flex-start;
  }
}

.footer-address {
  margin-inline-start: 50px;
  max-width: 300px;

  @media #{$sm,$xs} {
    margin-inline-start: 0;
    max-width: 100%;
    margin-bottom: 35px;
  }

  p {
    margin: 0;
    color: var(--clr-body-text);
  }
}

.footer-address-title {
  font-weight: 600;
  color: var(--clr-common-white);
}

.fm-footer-logo {
  img {
    width: 174px;
  }
}

.footer-copyright {
  p {
    color: var(--clr-body-text);
  }
}

.footer-bottom-2 {
  padding-top: 45px;
  padding-bottom: 45px;

  @media #{$sm,$xs} {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}



.footer-bg-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;

  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    background: #000;
    content: "";
  }
}

.newsletter-bg-wrapper {
  position: relative;
  padding: 70px 50px;

  @media #{$sm,$xs} {
    padding: 35px;
  }
}

.newsletter-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
}

// .newsletter-wrapper {
//   display: flex;
//   gap: 55px;
//   justify-content: space-around;
// }

.newsletters-content {
  position: relative;
  z-index: 1;

  @media #{$lg,$md,$sm,$xs} {
    margin-bottom: 20px;
  }
}

.newsletter-title {
  color: var(--clr-theme-1);
  margin: 0;

  @media #{$sm,$xs} {
    font-size: 35px;
  }
}

.single-newsletters {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1.3fr 0.5fr;
  gap: 15px;

  @media #{$xl} {
    grid-template-columns: 0.9fr 0.5fr;
  }

  @media #{$md} {
    grid-template-columns: 1fr 0.7fr;
  }

  @media #{$sm,$xs} {
    grid-template-columns: 1fr;
  }
}

.newsletter-form {
  form {
    input {
      height: 60px;
      padding: 0 40px;
      width: 100%;
      background: #fff;
      color: var(--clr-common-black);
      font-size: 14px;
      border-radius: 40px;
      border: 0;
      outline: 0;
    }
  }
}

.footer-btn {
  padding: 15px 40px;
  border-radius: 40px;

  @media #{$sm,$xs} {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media #{$xxs} {
    padding: 15px 35px;
  }
}

.footer-title {
  h4 {
    color: var(--clr-common-white);
    font-size: 22px;
  }

  margin-bottom: 30px;

}

.footer-middle-area {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
  gap: 50px 40px;

  @media #{$lg} {
    grid-template-columns: auto auto auto;
  }

  @media #{$md,$sm} {
    grid-template-columns: auto auto;
  }

  @media #{$xs} {
    grid-template-columns: auto;
  }
}


.footer-widget-about {
  max-width: 300px;
}

.footer-widget-gallery {
  max-width: 300px;
  min-width: 200px;

}

.footer-widget-social {
  max-width: 280px;
}

.footer-widget-contact {
  max-width: 250px;
}


.footer-logo-2 {
  margin-bottom: 30px;
}

.footer-text {

  p {
    max-width: 300px;
  }
}

.copyright-text {
  p {
    color: var(--clr-common-white);
    margin: 0;

    a {
      color: var(--clr-common-white);

      &:hover {
        color: var(--clr-theme-1);
      }
    }
  }
}

.footer-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  li {
    overflow: hidden;

    a {
      &:hover {
        img {
          transform: scale(1.1);
        }
      }

      img {
        width: 100%;
        transition: 1s;


      }
    }
  }
}

.footer-info {
  margin-bottom: 20px;

}

.footer-social-3 {
  a {
    color: var(--clr-common-white);
    color: var(--clr-common-white);
    border: 1px solid var(--clr-border-3);
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}

.footer-2-link {
  li {
    display: flex;
    gap: 10px;

    i {
      font-size: 16px;
      color: var(--clr-theme-1);
      margin-top: 5px;
    }

    a {
      &:hover {
        color: var(--clr-theme-1);
      }
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.footer-bottom-4 {
  border-top: 1px solid var(--clr-body-text2);
  padding-top: 35px;
  padding-bottom: 35px;

  .footer-bottom-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;

    @media #{$xxs} {
      gap: 15px;
    }

    li {
      a {
        color: var(--clr-common-white);

        &:hover {
          color: var(--clr-theme-1);
        }
      }
    }
  }
}

.copyright-text {
  p {
    text-align: center;
  }
}
.footer-copyright {
  a {
    color: var(--clr-theme-1);
  }
}
.popup-image img {
	cursor: pointer;
}