@use "../abstract" as *;

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader {
  background-color: var(--clr-common-black);
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  justify-content: center;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
  }

  &__film {
    position: absolute;
    top: -30px;
    left: 0;
    display: flex;
  }

  &__film-img {
    animation: rotate 1.5s linear infinite;
  }
}
