/*#############################
##############################
04. Sidebar CSS
##############################
#############################*/

@use "../abstract" as *;

.lv-header-sidebar {
  &-wrapper {
    padding: 30px;
  }

  &-touch-widget {
    & .lv-footer-touch-widget-links {
      & a {
        font-size: 14px;
      }
    }

    & .lv-footer-title {
      margin-bottom: 6px;
    }
  }

  &-area {
    position: fixed;
    left: -140%;
    top: 0;
    overflow-y: auto;
    z-index: 10;
    transition: all 0.5s;
    height: 100%;
    background: var(--clr-common-white);
    min-width: 400px;

    &.header-sidebar-visible {
      left: 0;
    }

    @media #{$sm,$xs} {
      min-width: 319px;
    }
  }

  &-logo {
    text-align: center;

    & a {
      max-width: 153.91px;
      display: inline-block;
    }
  }

  &-close-text {
    font-size: 14px;
    font-weight: 3;

    padding-right: 5px;
    display: inline-block;
    transform: translateY(1px);
  }

  &-action {
    & a {
      &:hover {
        color: var(--clr-common-black);

        & svg {
          & path {
            fill: var(--clr-common-black);
          }
        }
      }
    }
  }

  &-official {
    &-gallery {
      &-item {
        height: 100px;
        background-position: top center;
      }
    }
  }

  &-widget {
    & .lv-footer-social-link {
      & a {
        font-size: 14px;
        margin-right: 20px;

        &::after {
          left: -14px;
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  right: 0;
  top: 0;
  cursor: zoom-out;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  transition: all 0.3s;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.5);
  transition-delay: 0.3s;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;

  &.visible-overlay {
    opacity: 1;
    visibility: visible;
  }
}

// side-bar

.fm-header-sidebar-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offcanvas-btn {
  font-size: 34px;
  color: var(--clr-common-white);

  &:hover {
    i {
      transform: rotate(90deg);
      color: var(--clr-theme-1);
    }
  }
}
//sidebar css
.sidebar-action {
	background: var(--clr-common-white);
	height: 100%;
	position: fixed;
	z-index: 99999;

	top: 0;
	width: 390px;
	padding: 30px 30px;
	transition: 0.6s;
	overflow-y: scroll;
	@media #{$xs} {
		width: 320px;
	}
}
.close-sidebar {
	background: var(--clr-bg-1);
	display: flex;
	align-items: center;
	gap: 10px;
	height: 30px;
	padding: 0 10px;
	border-radius: 4px;
	color: var(--clr-common-white);
	position: absolute;
	right: 30px;
	top: 30px;
}
.sidebar-cart {
	right: -100%;
	&.cart-open {
		right: 0;
	}
}
.sidebar-wishlist {
	right: -100%;
	&.wishlist-open {
		right: 0;
	}
}
.sidebar-filter {
	right: -100%;

	&.filter-open {
		right: 0;
	}
	.product-filters {
		padding: 0px;
	}
	.filter-widget-title {
		font-size: 18px;
	}
}
.sidebar-action-title {
	font-size: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.sidebar-list-item {
	display: flex;
	gap: 20px;
}
.sidebar-action-btn {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}
.sidebar-action-btn a {
	width: 100%;
	flex-wrap: wrap;
	white-space: nowrap;
}
.sidebar-action-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.product-pricing span {
	font-size: 15px;
	font-weight: 500;
  color: var(--clr-common-black);
	line-height: 1;
}
.sidebar-list-item {
	display: flex;
	gap: 20px;
	border-top: 1px solid var(--clr-common-border);
	padding-top: 20px;
	position: relative;
	padding-right: 20px;
	.product-image {
		min-width: 90px;
		height: 80px;
		img {
			width: 100% !important;
			height: 100% !important;
			object-fit: cover;
			border: 1px solid #f1f1f1;
		}
	}
	.product-desc {
		padding: 0px 0 0px;
	}
	.product-name {
		font-size: 16px;
		text-transform: uppercase;
		color: var(--clr-theme-1);
		font-weight: 600;
		line-height: 22px;
		margin-bottom: 10px;
	}
	.remove-item {
		position: absolute;
		right: 0;
		top: 20px;
    color: var(--clr-common-black);
	}
}

.product-price-total {
	padding-top: 20px;
	border-top: 1px solid var(--clr-common-border);
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}
.product-price-total span {
  color: var(--clr-common-black);
  font-weight: 500;
}
.sidebar-action-btn {
  a {
    flex-grow: 1;
    height: 60px;
    line-height: 58px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
  }
	.border-btn {
		&:before,
		&:after {
			background: var(--clr-bg-1);
		}
	}
}
.shop-social-link{
	ul{
		display: flex;
		gap: 16px;
	}
}

.comment-submit{
	.fill-btn{
		height: 55px;
		line-height: 55px;
		clip-path: polygon(6% 0, 100% 0, 94% 100%, 0 100%);
	}
}
.product-pricing {
	display: flex;
	justify-content: space-between;
}
.sidebar-btn{
  font-weight: 500;
    color: var(--clr-common-white);
    position: relative;
    border: 1px solid var(--clr-theme-1);
    padding: 0px 30px;
    font-size: 16px;
    height: 50px;
    background: var(--clr-theme-1);
    white-space: nowrap;
    text-align: center;
}
.sidebar__close-btn {
	display: inline-block;
	font-size: 16px;
	height: 45px;
	width: 45px;
	line-height: 46px;
	color: var(--clr-common-white);;
	@include border-radius(50%);
	@include transition(0.3s);
	background: var(--clr-theme-1);

	&:hover {
		background: var(--clr-common-black);
		color: var(--clr-common-white);

	}
}
.fm-product-box-price-1-6{
  span{
    ins{
      color: var(--clr-body-grey);
      text-decoration: none;
    }
  }
}
 .widget-category{
  .category-btn button{
    color: var(--clr-body-grey);
    outline: none;
    border: none;
    background: transparent;
  }
 }
 
