/*#############################
##############################
08. Team CSS
##############################
#############################*/

@use "../abstract" as *;

.black-solid-bg {
  background-color: #171717;
}

.mtm-183 {
  margin-top: -183px;
}

.pt-285 {
  padding-top: 285px;
}

.pt-235 {
  padding-top: 235px;
}

.fm-film-about-content.pt-145.pb-70 {
  @media #{$sm,$xs} {
    padding-top: 45px;
    padding-bottom: 60px;
  }
}

.fm-film-team-area {
  position: relative;
  z-index: 1;

  &:is(.mtm-183) {
    margin-top: -153px;
  }
}

.fm-film-team-photo-name {
  font-family: $pristina;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 0;

  @media #{$lg} {
    font-size: 44px;
  }

  @media #{$sm} {
    font-size: 44px;
  }

  @media #{$xxs} {
    font-size: 44px;
  }
}

.fm-film-team-photo-designation {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.fm-film-team-photo-single {
  position: relative;
}

.fm-film-team-photo-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.fm-film-team-shape {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.fm-film-team-name-list {
  overflow: hidden;

  ul {
    li {
      list-style: none;
      margin-bottom: 10px;
      float: left;
      width: 50%;

      @media #{$xxs} {
        width: 100%;
      }

      a {
        font-size: 20px;
        font-weight: 400;
        color: #b4b4b4;

        @media #{$lg,$xxs} {
          font-size: 18px;
        }

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.floating {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floating2 {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
}

@-webkit-keyframes floating {

  0%,
  100% {
    transform: translate(0px, 0px);
  }

  65% {
    transform: translate(0px, 15px);
  }
}

.fm-director-social.body-color {
  a {
    color: #777;

    &:hover {
      color: #000;
    }
  }
}

.fm-member-skill-wrapper {
  .fm-member-skill-single {
    width: 32%;

    @media #{$lg} {
      width: 25%;
    }

    @media #{$xs} {
      width: inherit;
      text-align: left;
    }

    &:last-child {
      @media #{$xs} {
        margin-bottom: 0;
      }
    }

    input {
      color: #171717 !important;
      font-weight: 400 !important;
      font-size: 24px !important;
      margin-inline-start: -92px;
    }
  }
}

.fm-member-skill-subtext {
  display: inline-block;
  min-width: 120px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;

  span {
    display: block;
    text-align: center;
    color: var(--clr-body-text2);
  }
}

.fm-member-skill-title.is-border-right {
  position: relative;
  z-index: 1;
  padding-right: 20px;
  display: inline-block;
  color: #171717;

  &:before {
    position: absolute;
    left: 100%;
    width: 700%;
    height: 1px;
    content: "";
    background-color: #ececec;
    top: 50%;
    transform: translateY(-50%);
  }
}

.fm-member-skills {
  overflow: hidden;
}

// team-details-start

.team-details-member-name {
  font-size: 50px;
  line-height: 1.2;
  color: #171717;


  @media #{$xl} {
    font-size: 38px;
  }

  @media #{$lg} {
    font-size: 34px;
  }

  @media #{$md} {
    font-size: 38px;
  }

  @media #{$sm} {
    font-size: 34px;
  }

  @media #{$xs} {
    font-size: 28px;
  }
}

.team-details-subtext {
  font-size: 18px;
  font-weight: 500;

  display: inline-block;
  margin-bottom: 10px;

  @media #{$sm,$xs} {
    font-size: 16px;
  }
}

.w_100 {
  img {
    width: 100%;
  }
}

.gray-bg {
  background-color: #f9f9f9;
}

.fm-team-details-content-wrapper.mb-40.ml-55 {
  @media #{$lg} {
    margin-left: 25px;
  }

  @media #{$sm,$xs, $md} {
    margin-left: 0;
  }
}

.fm-error-content-img img {
  @media #{$lg} {
    height: 120px;
  }

  @media #{$md} {
    height: 100px;
  }

  @media #{$sm,$xs} {
    height: 100px;
  }
}

.fm-team-details-content-wrapper {
  margin-inline-start: 55px;

  @media #{$lg} {
    margin-inline-start: 20px;
  }

  @media #{$md,$sm,$xs} {
    margin-inline-start: 0;
  }
}

.widget-list ul li a:hover {
  color: #fff;
  letter-spacing: 1px;
}

// new-team-style-added

.fm-team-border {
  border-top: 1px solid var(--clr-border-1);
  border-bottom: 1px solid var(--clr-border-1);
  padding: 20px 0;
}


.fm-team-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;


  @media #{$lg,$md,$sm} {
    grid-template-columns: auto auto;
  }

  @media #{$xs} {
    grid-template-columns: auto;
  }

  @media (hover:none) {
    gap: 10px;
  }

  >div:not(:last-child) {
    border-right: 1px solid var(--clr-border-1);

    @media (hover:none) {
      border-right: 0;
    }
  }
}

.fm-team-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  transition: all 0.5s ease-out 0s;

  @media (hover:none) {
    top: 73%;
  }
}

.fm-team-title {
  margin-bottom: 20px;

  @media (hover:none) {
    color: var(--clr-common-white);
  }

  a {
    &:hover {
      color: var(--clr-theme-1);
    }
  }

  @media #{$sm,$xs} {
    font-size: 21px;
  }
}

.fm-team-item {
  text-align: center;

  &:hover {
    .fm-team-content {
      .fm-team-title {
        color: var(--clr-common-white);
      }

      .fm-team-designation {
        color: var(--clr-common-white);
      }
    }
  }
}

.white-clr {
  color: var(--clr-common-white) !important;
}

.team-btn {
  background: transparent;

  .team-details-btn {
    color: var(--clr-common-black);
    border: 1px solid var(--clr-common-black);
  }
}

.w-img {
  img {
    width: 100%;
  }
}

.fm-team-thumb {
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  opacity: 0;

  @media (hover:none) {
    opacity: 1;
  }
}

.fm-team-designation {
  color: var(--clr-theme-1);
  font-weight: 500;
}


.fm-team-item {
  &:hover {
    .fm-team-content {
      top: 73%;
    }

    .fm-team-thumb {
      opacity: 1;
    }
  }

  &.active {
    .fm-team-content {
      top: 73%;
    }

    .fm-team-thumb {
      opacity: 1;
    }

    .fm-team-title {
      color: var(--clr-common-white);
    }

  }
}

//  practice-purpose
.team-btn {
  font-size: 16px;
  color: var(--clr-common-white);
  font-weight: 600;
  background: var(--clr-common-heading);
}

@keyframes animate {
  from {
    width: 0;
    height: 0;
    opacity: 0.2;
  }

  to {
    width: 500px;
    height: 500px;
    opacity: 0.2;
  }
}

.section-main-title {
  &.team-details-sec {
    margin-bottom: 30px;
  }
}

// Skill content
.skill-content {
  padding: 35px 30px 40px 30px;
  background: var(--clr-common-white);

}

.skill-area {
  background: #f2f2f2;
}

.team-skill--content {
  .bd-skill--title__wrapper {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    span {
      position: absolute;
      top: 0;
      font-size: 18px;
      font-weight: 500;
      color: var(--clr-common-black);
      line-height: 1;
      transform: translateX(-50%);

      @include rtl {
        transform: translateX(50%);
      }
    }
  }

  .progress-bar {
    background-color: var(--clr-theme-1);

    @include rtl {
      animation-name: slideInRight;
    }
  }

  .progress {
    background: #d9d9d9;
    border-radius: 0;
    height: 5px;
  }

  .bd-skill--title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
  }
}

.skill-content-info {
  background: var(--clr-common-white);
  padding: 35px 30px 30px 30px;
  min-height: 100%;

  &.skill-content-gap {
    @media #{$sm,$xs} {
      padding: 0 30px 0 30px;
    }

    @media #{$sm,$xs} {
      padding: 0 10px 0 10px;
    }
  }
}

// btn-style
.team-details-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  color: var(--clr-common-white);
  position: relative;
  border: 1px solid var(--clr-border-2);
  padding: 10px 19px;
  font-size: 16px;

  span {
    overflow: hidden;
    position: relative;
    top: 0;
    right: 0;

    &:after {
      position: absolute;
      content: "\f061";
      font-family: "Font Awesome 6 Pro";
      font-weight: 900;
      left: -20px;
      bottom: -20px;
      -webkit-transform: translate(0, 0) rotate(-45deg);
      transform: translate(0, 0) rotate(-45deg);
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }

    i {
      -webkit-transform: translate(0, 0) rotate(-45deg);
      transform: translate(0, 0) rotate(-45deg);
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }
  }

  &:hover {
    span {
      &:after {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate(20px, -20px) rotate(-45deg);
        transform: translate(20px, -20px) rotate(-45deg);
      }

      i {
        -webkit-transform: translate(20px, -20px) rotate(-45deg);
        transform: translate(20px, -20px) rotate(-45deg);
      }
    }

    background: var(--clr-common-black);
    color: var(--clr-common-white);
  }
}

.fm-team-details-img {
  img {
    width: 100%;
    -o-object-fit: cover;
  }
}

.fm-member-skill-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  @media #{$xs} {
    gap: 20px;
  }
}

.skill-content-title {
  font-size: 25px;
}

// director-team{
.fm-director-team-title {
  margin-bottom: 60px;
}


//progressbar styles start here
.fm-member-skill-circle-item {
  height: 120px;
  width: 120px;
}
.fm-member-skill-circle-item {
  .CircularProgressbar .CircularProgressbar-text {
    fill: #171717;
    font-size: 24px;
    font-weight: 400;
  }
  .CircularProgressbar .CircularProgressbar-path {
    stroke: var(--clr-theme-1);
    stroke-width: 5px;
    transition: stroke-dashoffset 1s ease 0s;
  }
  .CircularProgressbar-trail {
    stroke-width: 5px;
    stroke: #ECECEC;
  }
}

.team-bottom-border {
  border-bottom: 1px solid rgba(23, 23, 23, 0.062745098);
}