/*#############################
##############################
10. Video CSS
##############################
#############################*/
@use "../abstract" as *;

// home-1
.fm-video-style {
  position: relative;
}

.fm-video-wrapper {
  position: relative;
  overflow: hidden;
  height: 1000px;


  @media #{$lg} {
    height: 575px;
  }

  @media #{$md} {
    height: 430px;
  }

  @media #{$sm} {
    height: 330px;
  }

  @media #{$xs} {
    height: 280px;
  }

  @media #{$xxs} {
    height: 210px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: luminosity;
  }

  video {
    width: 100%;
  }

}

// home-5

.video-area-3 {
  min-height: 650px;

  @media #{$lg} {
    min-height: 550px;
  }

  @media #{$md} {
    min-height: 500px;
  }

  @media #{$sm,$xs} {
    min-height: 400px;
  }

  @media #{$xs} {
    min-height: 350px;
  }

  &:hover {
    .fm-video-thumb {
      animation: rotate-infinite-2 15s linear infinite;
    }
  }
}

.fm-video-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-repeat: no-repeat;
  background-position: cover;
}

.fm-video-bg::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
}

.fm-video-btn-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .popup-video {
    position: absolute;
    color: var(--clr-common-white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:hover {
      color: var(--clr-theme-1);
    }

    .icon-size {
      font-size: 20px;
    }
  }
}

.latest-video {
  margin-bottom: 40px;
}

.video-area-btn {
  width: 140px;
  height: 140px;
  border-color: var(--clr-theme-1);
  background: var(--clr-theme-1);
  font-size: 20px;

  @media #{$sm,$xs} {
    width: 90px;
    height: 90px;
    font-size: 16px;
  }
}


.modal-video-body {
	max-width: 1200px;
}